.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
.placeholder {
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0079FE;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
._流程形状 {
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.button {
  color:#999999;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.menu_item {
}
.snapshot {
}
.sticky_3 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._默认样式 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
._鼠标按下文本链接时1 {
}
._形状 {
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
._文本链接1 {
  color:#0000FF;
}
.image {
}
.ellipse {
}
.line {
}
._下拉选项提示文字 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
._高亮行 {
}
._子菜单项 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
._标签选项 {
  color:#999999;
}
.__button {
}
